.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  .video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .video-background-content {
    position: relative;
    z-index: 2;
  }
  
  .video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  .rubik-dirt-regular {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  p{
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .input{
    border: 3px solid black;
  }

  .white{
    color: white;
  }

  @media only screen and (max-width: 600px) {
    #logo{
        height: 100px!important;
    }

    .jumbotron{
      height: 110vh !important;
  }

  #about-text{
    text-align: center !important;
  }

  #about{
    height: 125vh !important;
  }

  #about-img{
    height: 150px !important;
  }

  #about-img-container{
    text-align: center !important;
    padding: 10vh 0;
  }

}